<p id="notice"><%= notice %></p>

<p>
  <strong>Date of birth:</strong>
  <%= @profile.date_of_birth %>
</p>

<p>
  <strong>Hometown:</strong>
  <%= @profile.hometown %>
</p>

<p>
  <strong>Residence:</strong>
  <%= @profile.residence %>
</p>

<p>
  <strong>Occupations:</strong>
  <%= @profile.occupations %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @profile.skills %>
</p>

<p>
  <strong>Education:</strong>
  <%= @profile.education %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
