<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.association :user %>
    <%= f.input :when %>
    <%= f.association :board %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
